@model Doh
@{
    ViewData["Title"] = "FiltterData";

}

<h2>Filtter Data</h2>

<script src="~/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='0'>Select</option>";
        $('#FacTyId').html(items);
       
    });
</script>

<script type="text/javascript">
        $(document).ready(function () {
        $('#FacTyId').change(function () {
                var url = '@Url.Content("~/")' + "Home/GetSubCategory";
                var ddlsource = "#DohId";
            $.getJSON(url, { DohId: $(ddlsource).val() }, function (data) {
                    var items = '';
                $("#FacTyId").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                $('#FacTyId').html(items);
                });
            });

       
        });
</script>

<form asp-controller="Home" asp-action="FiltterData" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="DohName" class="control-label"></label>
                <select asp-for="DohCode"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofCategory,"DohCode", "DohName"))">

                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">FacTyName</label>
                <select class="form-control" id="FacTyId" name="FacTyId" asp-for="FacTyId"
                        asp-items="@(new SelectList(string.Empty,"FacTyId", "FacTyName"))"></select>
            </div>
        </div>
    </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input id="Submit1" type="submit" value="submit" />
            </div>
        </div>
    </div>
</form>