
@{
    ViewData["Title"] = "NotFountData";
}
<div style="text-align:center";padding:130px;margin:130px">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/images/404error.jpg" />

    </a>
    <br />
    <br />
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">go to home

    </a> 
</div>


